<div id='allRooms'>
	<div class='mainHeader'>Rooms</div>
	<% @rooms.each do |r| %>
		<div class='oneRoom' >
			<div class='topic'><%= link_to r.topic, r %></div>
			<div class='postDate'><%= r.created_at.strftime("Created on %A at %l:%M%P") %></div>
			<hr>
			<p class='headline'><%= r.headline %></p>
		</div>
	<% end %>
</div>

